# Lists

In [2]:
L = [1,2,3]

In [3]:
print(id(L))

4713619776

In [5]:
#Referential array
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

4382205144
4382205176
4382205208
4382205144
4382205176
4382205208

In [6]:
#Lists are ordered : Order matters
L = [1,2,3]
L1 = [3,2,1]

L == L1

False

# Creating a List

In [7]:
#Empty list
print([])

[]

In [8]:
#1D list : Homogeneous
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [9]:
#2D list : Heterogeneous
print([1,2,3,[4,5]])

[1, 2, 3, [4, 5]]

In [11]:
#3D list : Homogeneous
print([[[1,2],[3,4]],[[5,6],[7,8]]])

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [12]:
#Heterogeneous list
print([1, True, 'Hello', [1,2]])

[1, True, 'Hello', [1, 2]]

In [13]:
#Using type conversion
print(list('Hello'))

['H', 'e', 'l', 'l', 'o']

# Accessing Items from a List

In [17]:
#Indexing
L = [1,2,3,4,5]
#positive indexing
print(L[0])
#negative indexing
print(L[-2])

1
4

In [20]:
L= [1,2,3,[4,5]]
print(L[-1])
print(L[-1][1])

[4, 5]
5

In [24]:
#Slicing
L=[1,2,3,4,5,6]
print(L[0:3])
print(L[-3:])
print(L[0::2])
print(L[-5:-2:2])
print(L[::-1])

[1, 2, 3]
[4, 5, 6]
[1, 3, 5]
[2, 4]
[6, 5, 4, 3, 2, 1]

# Adding items to a list

In [26]:
#append : only one item added
L=[1,2,3,4,5]
L.append(6)
print(L)

[1, 2, 3, 4, 5, 6]

In [28]:
#extend : adding multiple items
L=[1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
L=[1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [30]:
L=[1,2,3,4,5]
L.append('delhi')
print(L)

[1, 2, 3, 4, 5, 'delhi']

In [31]:
#insert
L =[1,2,3,4,5]
L.insert(1, 100)
print(L)

[1, 100, 2, 3, 4, 5]

# Editing items in a list

In [33]:
L=[1,2,3,4,5]
L[-2] = 6 
print(L)

[1, 2, 3, 6, 5]

In [34]:
L=[1,2,3,4,5]
L[2:4] = [200,300,400]
print(L)

[1, 2, 200, 300, 400, 5]

# Deleting items from a list

In [39]:
#del 
L = [1,2,3,4,5]
del L[-2]
print(L)

[1, 2, 3, 5]

In [40]:
  L = [1,2,3,4,5]
del L[1:3]
print(L)

[1, 4, 5]

In [41]:
#remove

L= [1,2,3,4,5]
L.remove(3)
print(L)

[1, 2, 4, 5]

In [45]:
#pop : deletes with index

L= [1,2,3,4,5]
L.pop(2)
print(L)

[1, 2, 4, 5]

In [46]:
#deletes last item
L= [1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [47]:
#clear

L= [1,2,3,4,5]
L.clear()
print(L)

[]

# Operations on Lists

In [48]:
# Arithmetic (+, *)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

#Concatenation/merge:
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
print(L1 * 3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [51]:
L1 = [1,2,3,4]
L2 = [[5,6],7,8]

print(5 not in L1)
print(5 in L2)

True
False

In [53]:
#Loops:
L1 = [1,2,3,4]

for i in L1:
    print(i)

1
2
3
4

In [54]:
L2 = [[5,6],7,8]

for i in L2:
    print(i)

[5, 6]
7
8

# List Functions

In [59]:
# len / min / max / sorted

L = [87, 83, 65, 90, 75, 20, 98]
print(len(L))
print(min(L))
print(max(L))
print(sorted(L))
print(sorted(L, reverse=True))

7
20
98
[20, 65, 75, 83, 87, 90, 98]
[98, 90, 87, 83, 75, 65, 20]

In [64]:
#count

L = [ 1,1,32,32,44,21,1,65,1,89]
L.count(1)

4

In [65]:
L.count(32)

2

In [66]:
#index

In [67]:
L.index(44)

4

In [68]:
L.index(1)

0

In [71]:
# reverse : is a permanent operation
L = [ 1,1,32,32,44,21,1,65,1,89]
L.reverse()
print(L)

[89, 1, 65, 1, 21, 44, 32, 32, 1, 1]

In [73]:
#sort : Permanent operation
#sorted : not permanent

L = [ 1,1,32,32,44,21,1,65,1,89]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[1, 1, 32, 32, 44, 21, 1, 65, 1, 89]
[1, 1, 1, 1, 21, 32, 32, 44, 65, 89]
[1, 1, 32, 32, 44, 21, 1, 65, 1, 89]
[1, 1, 1, 1, 21, 32, 32, 44, 65, 89]

In [74]:
#Copy
L = [ 1,1,32,32,44,21,1,65,1,89]
print(L)
print(id(L))
#makes a shallow copy
L1 = L.copy()
print(L1)
print(id(L1))

[1, 1, 32, 32, 44, 21, 1, 65, 1, 89]
4762406848
[1, 1, 32, 32, 44, 21, 1, 65, 1, 89]
4713622272

# List Comprehension

In [ ]:
#newlist = [expression for item in iterable if condition == True]

In [77]:
#Add 1-10 numbers to a list:
L = []

for i in range(1, 11):
    L.append(i)
    
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
#scalar multiplication on a vector
v = [2,3,4]
s = -3

[s*i for i in v]

[-6, -9, -12]

In [82]:
#add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [83]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [84]:
# find languages which start with letter p

languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [86]:
# Nested if with List Comprehension

basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [87]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension

[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [88]:
# cartesian products -> List comprehension on 2 lists together

L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

# 2 ways to traverse a list

In [90]:
# itemwise

L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [91]:
# indexwise

L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

# Zip function

In [92]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2)) 
print(list(zip(L1,L2)))

[i+j for i,j in zip(L1,L2)]

[(1, -1), (2, -2), (3, -3), (4, -4)]

[0, 0, 0, 0]