# Tuples

### Creating Tuples

In [87]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = (2)
print(t2) #Wrong way
print(type(t2))

t2 = ('hello',) #Right way
print(t2)
print(type(t2))

# homo
t3 = (1,2,3,4)
print(t3)

# hetero
t4 = (1,2.5,True,[1,2,3])
print(t4)

# tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('hello')
print(t6)

()
2
<class 'int'>
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing items

In [7]:
#indexing

t3 = (1,2,3,4)
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [10]:
#slicing

t3 = (1,2,3,4)
print(t3[::-1])
print(t3[1:3])

(4, 3, 2, 1)
(2, 3)

### Editing items

In [11]:
#not possible, immutable like strings

### Adding items

In [12]:
#not possible

### Deleting tuple

In [14]:
# Can delete whole tuple
# Can't delete one item in tuple

### Operations on Tuple

In [17]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)

# membership
print(1 in t1)


# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

### Tuple functions

In [20]:
# len/sum/min/max/sorted
t = (1,2,3,4)

print(len(t))

print(sum(t))

print(min(t))

print(max(t))

print(sorted(t,reverse=True))

4
10
1
4
[4, 3, 2, 1]

In [21]:
# count

t = (1,2,3,4,5)

t.count(5)

1

In [22]:
# index
t.index(5)

4

In [25]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 2.2888927459716797
Tuple time 2.4604601860046387

In [24]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [26]:
#LIST:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [27]:
#TUPLE:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Special Syntax

In [30]:
# tuple unpacking

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [31]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [29]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [32]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [35]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
print(zip(a,b))
print(list(zip(a,b)))
tuple(zip(a,b))

<zip object at 0x1090523c0>
[(1, 5), (2, 6), (3, 7), (4, 8)]

((1, 5), (2, 6), (3, 7), (4, 8))

# Sets

### Creating Sets

In [40]:
# empty set
s = set()
print(s)
print(type(s))

# 1D and 2D
s1 = {1,2,3}
print(s1)

#2D, 3D set not possible cause set items are immutable 

# homo and hetro
s3 = {1,'hello',4.5,(1,2,3), True} #Can't treat True cause 1 is already there
print(s3)

# using type conversion
s4 = set([1,2,3])
print('S4= ', s4)

# duplicates not allowed
s5 = {1,1,2,2,3,3}
print('s5= ', s5)

# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'hello'}
S4=  {1, 2, 3}
s5=  {1, 2, 3}

TypeError: unhashable type: 'list'

In [41]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Accessing Items

In [42]:
s1 = {1,2,3,4}
s1[0:3]
#can't do indexing/slicing because unordered

TypeError: 'set' object is not subscriptable

### Editing Items

In [43]:
#Not allowed as indexing not allowed

In [44]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

### Adding items

In [45]:
S = {1,2,3,4}
# add
S.add(5)
print(S)

{1, 2, 3, 4, 5}

In [46]:
# update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7}

### Deleting items

In [48]:
# del
s = {1,2,3,4,5}
print(s)
del s #del works for whole set, not individual items
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [53]:
# discard
s = {1,2,3,4,5}
s.discard(5)
print(s)
s.discard(50) #Doesn't show error
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [52]:
# remove
s = {1,2,3,4,5}
s.remove(5)
print(s)
s.remove(50) #Shows error
print(s)

{1, 2, 3, 4}

KeyError: 50

In [55]:
# pop
s = {1,2,3,4,5}
s.pop() #deletes random items

1

In [56]:
# clear
s.clear() #Clears whole set
print(s)

set()

### Set Operations

In [57]:
# Union(|)
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
# Intersection(&)
s1 & s2

{4, 5}

In [60]:
# Difference(-)
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 6, 7}

In [61]:
# Symmetric Difference(^)
s1 ^ s2 #everything other than common

{1, 2, 3, 6, 7, 8}

In [62]:
# Membership Test
1 not in s1

False

In [64]:
# Iteration
for i in s1:
  print(i)

1
2
3
4
5

### Set Functions

In [65]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

6
22
1
7
[7, 5, 4, 3, 2, 1]

In [70]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
print(s1.union(s2))
print('s1: ',s1)
print('s2: ',s2)

{1, 2, 3, 4, 5, 6, 7, 8}
s1:  {1, 2, 3, 4, 5}
s2:  {4, 5, 6, 7, 8}

In [68]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [71]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

{4, 5}

In [72]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [73]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

In [75]:
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [76]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [77]:

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [79]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2) #no items common

True

In [80]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issubset(s2)

False

In [81]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [82]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozen Set

In [91]:
# create frozenset
fs1 = frozenset([1,2,3])
fs1

frozenset({1, 2, 3})

In [92]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [84]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [85]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [93]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

### Create Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

In [94]:
# empty dictionary
d = {}
d

{}

In [96]:
# 1D dictionary
d1 = { 'name' : 'Rito' ,'gender' : 'male' }
d1

{'name': 'Rito', 'gender': 'male'}

In [97]:
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [102]:
# 2D dictionary -> JSON
s = {
    'name':'Rito',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'Rito',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [103]:
# using sequence and dict function
d4 = dict([('name','Rito'),('age',32),(3,3)]) # list of tuples
d4

{'name': 'Rito', 'age': 32, 3: 3}

In [100]:
# duplicate keys
d5 = {'name':'Rito','name':'rahul'}
d5

{'name': 'rahul'}

In [101]:
# mutable items as keys
d6 = {'name':'Rito',(1,2,3):2}
print(d6)

{'name': 'Rito', (1, 2, 3): 2}

In [105]:
d6 = {'name':'Rito',[1,2,3]:2} #List is not allowed as key
print(d6)

TypeError: unhashable type: 'list'

### Accessing items

In [113]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']

26

In [107]:
# get
my_dict.get('age')

26

In [108]:
d4['gender'] = 'male'
print(d4)
d4['weight'] = 72
print(d4)

s['subjects']['ds'] = 75
s

{'name': 'Rito', 'age': 32, 3: 3, 'gender': 'male'}
{'name': 'Rito', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

{'name': 'Rito',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pairs

In [109]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
d.pop(3)
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [110]:
# popitem
#d.popitem()
d.popitem()
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male'}

In [111]:
# del
del d['name']
print(d)

{'age': 32, 'gender': 'male'}

In [112]:
# clear
d.clear()
print(d)

del s['subjects']['maths']
s

{}

{'name': 'Rito',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

In [117]:
s['subjects']['dsa'] = 80
s

{'name': 'Rito',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Dictionary operations

In [121]:
print(s)
print('Rito' in s) #Works on only keys.. Not Values
'name' in s

{'name': 'Rito', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}
False

True

In [122]:
d = {'name':'Rito','gender':'male','age':26}

for i in d:
  print(i,d[i])

name Rito
gender male
age 26

### Dictionary functions

In [124]:
# len/sorted
print(len(d))
print(d)
print(sorted(d,reverse=True))
print(max(d)) #On the basis of ASCII

3
{'name': 'Rito', 'gender': 'male', 'age': 26}
['name', 'gender', 'age']
name

In [125]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'Rito', 'gender': 'male', 'age': 26}
dict_items([('name', 'Rito'), ('gender', 'male'), ('age', 26)])
dict_keys(['name', 'gender', 'age'])
dict_values(['Rito', 'male', 26])

In [126]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension

In [127]:
#  {key:value for vars in iterable}

In [128]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [129]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [130]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [131]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [132]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [133]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}